<h1 id="title">Customer Management</h1>
<div class="outside">
<!--Main Layout-->
<main>

<!-- Main Navigation-->

<header>
<div class="link">
    <a href="/">Home</a>
</div>
<div class="link">
    <a href="inventory.handlebars">Manage Inventory</a>
</div>
<div class="link">
    <a href="order.handlebars">Manage Orders</a>
</div>
<div class="link">
    <a href="">Manage Customers</a>
</div>
</header>



  <h2>My Existing Customers</h2>

  <input class="search" type="text" id="myInput" placeholder="'Quick Search' Enter your search criteria ...">

  <table id="myTable">
      <tr class="tableHeader">
          <th>Customer Name</th>
          <th>Date of Birth</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Email</th>
          <th>Preferred Payment Type</th>
        </tr>
        <tbody>
          {{#each customers}}
          <tr>
            <td hidden>{{customer_Num}}</td>
            <td>{{first_Name}} {{last_Name}}</td>
            <td>{{moment dob format="DD MMM, YYYY"}}</td>
            <td>{{phone_Num}}</td>
            {{#if same_Billing_Address}}
            <td>{{street}}, {{city}}, {{shipState}}, {{zip}}</td>
            {{else}}
                <td>{{street}}, {{city}}, {{shipState}}, {{zip}}</td>
            {{/if}}
            <td>{{email}}</td>
            <td>{{preferred_Payment_Type}}</td>
            <th>
              <button onclick="editCustomer({{customer_Num}})">Edit</button>
              <button onclick="deleteCustomer({{customer_Num}})">Delete</button>
            </th>
          </tr>
          {{/each}}
        </tbody>
  </table>

<button class="add" onclick="window.location.href='addCustomer.handlebars'">Add New Customer</button>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</main>
</div>