 <h1 id="title">Edit Items</h1>
  <div class="outside">

  <!--Main Layout-->
  <main>

    <!-- Main Navigation-->
    
    <header>
      <div class="link">
        <a href="/">Home</a>
      </div>
      <div class="link">
        <a href="">Manage Inventory</a>
      </div>
      <div class="link">
        <a href="order.handlebars">Manage Orders</a>
      </div>
      <div class="link">
        <a href="customer.handlebars">Manage Customers</a>
      </div>
    </header>


  <h1>Update {{item_Num}} {{item_Name}} {{item_Type}}</h1>
  <form id="update-item" method="post">
    Item Name: <input type="text" name="item_Name" value="{{items.item_Name}}"><br>
    Item Type: <input type="text" name="item_Type" value="{{items.item_Type}}"><br>
    Item Price: <input type="text" name="item_Price" value="{{items.item_Price}}"><br>
    Items in Stock: <input type="text" name="number_Items_In_Stock" value="{{items.number_Items_In_Stock}}"><br>
  </form>
   <input  class = "submit" type="submit" name="Submit" value=Submit>
  {{!-- <button onclick="updateItem({{item.item_Num}})">Update</button> --}}
  