<h1 id="title">Order Management</h1>
  <div class="outside">
  <!--Main Layout-->
  <main>
    <!-- Main Navigation-->
    <header>
      <div class="link">
        <a href="/">Home</a>
      </div>
      <div class="link">
        <a href="inventory.handlebars">Manage Inventory</a>
      </div>
      <div class="link">
        <a href="">Manage Orders</a>
      </div>
      <div class="link">
        <a href="customer.handlebars">Manage Customers</a>
      </div>
    </header>

    <section class="tableWrapper">
      <h2>Current Orders</h2>
      <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
      <table>
         <tr class="tableHeader">
          <th>Order Date</th>
          <th>Customer Name</th>
          <th>Payment Type</th>
          <th>Order Complete</th>
          <th>Order Shipped</th>
        </tr>
        <tbody>
          {{#each orders}}
          <tr>
            <td hidden>{{order_Num}}</td>
            <td>{{order_Date}}</td>
            <td>{{first_Name}}</td>
            <td>{{payment_Type}}</td>
            {{#if order_Complete}}
            <td>Yes</td>
            {{else}}
            <td>No</td>
            {{/if}}
             {{#if order_Shipped}}
            <td>Yes</td>
            {{else}}
            <td>No</td>
            {{/if}}
            <th>
              <button id="editBtn">Edit</button>
              <button id=editBtn>Delete</button>
            </th>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <button class="add" onclick="window.location.href='addOrder.handlebars'">Add New Order</button>
    </section>
  </div>
  </main>